<h2>Angular forms</h2>
<p>A <b>FormControl</b> represents a single input field - it is the smallest unit of an Angular form:</p>
<p><b>TypeScript Object: </b>{{nameControl | json}}</p>

<h3> Error:https://stackoverflow.com/questions/41474011/what-causes-the-control-registeronchange-is-not-a-function-error</h3>
<p>

  <span *ngIf="!nameControl">Errors: {{nameControl.errors}} </span>
  <span>Dirty: {{nameControl.dirty}} </span>
  <span>Valid: {{nameControl.valid}}</span>
</p>

<input type="text" [formControl]="name" />

<h2>FormGroup</h2>

<p>{{personInfo.value | json}}</p>
<p>
  <span *ngIf="!personInfo.valid">Errors: {{personInfo.errors}} </span>
  <span>Dirty: {{personInfo.dirty}} </span>
  <span>Valid: {{personInfo.valid}}</span>
</p>


<app-demo-form-sku-component></app-demo-form-sku-component>